<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lapseki Çardak</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel='stylesheet' href="{%static  'saatler/css/bootstrap.min.css'%}" 
	type= 'text/css' />
	<link rel='stylesheet' href="{%static  'saatler/style.css'%}" 
	type= 'text/css' />
	

</head>
<body class="body" style="background-color:#f6f6f6" >

{% include 'saatler/navbar.html' %}

<div class='container' >

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Kış saatleri</div>

  <!-- Table -->
  <table class="table table-bordered">
  
	<thead>
	<tr>
		<th>Lapsekiden çanakkaleye</th>	
		<th>Çanakkaleden lapsekiye</th>

	</tr>

	</thead>
	<tbody>
	{% include 'saatler/tbody.html' %}

		
	
	</tbody>
  </table>
</div>

{% block content %}
{% endblock %}
</div>

</body>
</html>